<nb-layout windowMode>
    <nb-layout-header>
        <ngx-header normal></ngx-header>
    </nb-layout-header> 
    <nb-sidebar class="menu-sidebar"
                   tag="menu-sidebar"
                   responsive>
        <nb-sidebar-header>          
        </nb-sidebar-header>
        <nb-menu [items]="menus"></nb-menu>
      </nb-sidebar>
      <nb-layout-column class="main-content">
        <ng-content select="router-outlet"></ng-content>
      </nb-layout-column>
      <nb-layout-footer fixed>
        <ngx-footer></ngx-footer>
      </nb-layout-footer>
<!--
      <nb-sidebar class="settings-sidebar"
                   tag="settings-sidebar"
                   state="collapsed"
                   fixed>     
      </nb-sidebar>
--> 
</nb-layout>